
<div class="background">
<%= image_tag "bk2.jpg" %>
</div>
<br><br><br>
<div class="text">
    <div class="border">
      <span>KiteKiss</span><br>
    </div>

</div>
<div class="wrapper">
  <div class="home-button">
    <a href="/users/new">Join</a>
  </div>
  <div class="home-button">
    <a href="/signin">Login</a>
  </div>
</div>  
